{% extends 'basic.html' %}
{% block title %}
    Создание чат-канала
{% endblock %}
{% block body %}
    <h1>Создание чат-канала</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Введите имя чат-канала: </label><Br>
        <input type="text" name="channel_name" required><Br>
        <label>Выберите участников чат-канала:<Br>(зажмите CTRL что бы выбрать несколько)</label><Br>
        <select multiple size="10" name="opps" required>
            {% for friend in friends %}
                <option value="{{ friend.pk }}">{{ friend.username }}</option>
            {% endfor %}
        </select><Br>
        <input type="submit" value="Создать чат-канал">
    </form>
{% endblock %}