{% extends 'basic.html' %}
{% block title %}
{% endblock %}
{% block body %}
    <h1>Чат с <a href="{% url 'person' opp.username %}">{{ opp.username.capitalize }}</a></h1>
    <form action="" method="post">
        {% csrf_token %}
        <textarea style="width: 400px; height: 100px; resize: none;" type="text" name="message_text" required></textarea><Br>
        <input type="submit" value="Отправить сообщение">
    </form><Br>
    {% for message in messages %}
        {% if message.author.username == current_user %}
            <a href="{% url 'person' current_user %}"><strong>Вы</strong></a>: {{ message.date_send|date:'d.m.Y H:i:s' }}<Br>
            {{ message.text }}<Br><Br>
        {% else %}
            <a href="{% url 'person' message.author.username %}"><strong>{{ message.author.username }}</strong></a>: {{ message.date_send|date:'d.m.Y H:i:s' }}<Br>
            {{ message.text }}<Br><Br>
        {% endif %}
    {% endfor %}
{% endblock %}