{% extends 'basic.html' %}
{% block title %}
    Друзья {{ person_name.capitalize }}
{% endblock %}
{% block body %}
    <h1>{% if user_is_owner %}Мои друзья{% else %}Друзья {{ person_name.capitalize }}{% endif %}</h1>
    {% for friend in user_list %}
        <a href="{% url 'person' friend.username %}"> {{ friend.first_name.capitalize }}
            ({{ friend.username.capitalize }}) {{ friend.last_name.capitalize }}</a><Br>
        {% if user_is_owner %}
            <a href="{% url 'dialog_create' friend.username %}">Написать сообщение</a><Br>
            <form action="{% url 'friends_update' friend.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Удалить {{ friend.username.capitalize }} с друзей."><Br>
            </form>
        {% else %}
            {% if friend in my_friends %}
                <a href="{% url 'dialog_create' friend.username %}">Написать сообщение</a><Br>
                Пользователь у Вас в друзьях.
                <form action="{% url 'friends_update' friend.username %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить {{ friend.username.capitalize }} с друзей."><Br>
                </form>
            {% elif friend.username == current_user %}
                Это Вы.<Br>
            {% else %}
                <a href="{% url 'dialog_create' friend.username %}">Написать сообщение</a><Br>
                <form action="{% url 'friends_update' friend.username %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Добавить {{ friend.username.capitalize }} в друзья."><Br>
                </form>
            {% endif %}
        {% endif %}
        <Br>
    {% endfor %}
{% endblock %}