{% extends 'basic.html' %}
{% block title %}
    Люди | Поиск друзей
{% endblock %}
{% block body %}
    <h1>Люди</h1>
    <form action="" method="get">
        <input type="text" value="{{ search }}" name="search" required">
        <input type="submit" value="Поиск"><Br><Br>
    </form>
    {% for person, mutual_friends in user_list %}
        <a href="{% url 'person' person.username %}"> {{ person.first_name.capitalize }}
            ({{ person.username.capitalize }}) {{ person.last_name.capitalize }}</a><Br>
        <a href="{% url 'dialog_create' person.username %}">Написать сообщение</a><Br>
        {% if person in friends %}
            Пользователь у Вас в друзьях. У Вас с ним {{ mutual_friends }} общих друзей.<Br>
            <form action="{% url 'friends_update' person.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Удалить {{ person.username.capitalize }} с друзей."><Br>
            </form>
        {% else %}
            У Вас с ним {{ mutual_friends }} общих друзей.
            <form action="{% url 'friends_update' person.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Добавить {{ person.username.capitalize }} в друзья."><Br>
            </form>
        {% endif %}
        <Br>
    {% endfor %}
{% endblock %}