{% extends 'basic.html' %}
{% block title %}
    Профиль {{ user.username.capitalize }}
{% endblock %}
{% block body %}
    <h1>Профиль {{ user.username.capitalize }}{% if not friend_request %}(это Вы){% endif %}</h1>
    {{ online }}<Br>
    Имя: {{ user.first_name.capitalize }}<Br>
    Фамилия: {{ user.last_name.capitalize }}<Br>
    {% if friend_request %}
        <p>
        <a href="{% url 'dialog_create' user.username %}">Написать сообщение</a><Br>
            {% if friend_request == 1 %}
                Пользователь у Вас в друзьях.
                <form action="{% url 'friends_update' user.username %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить с друзей."><Br>
                </form>
            {% else %}
                <form action="{% url 'friends_update' user.username %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Добавить в друзья"><Br>
                </form>
            {% endif %}
        </p>
    {% endif %}
    <p>
        <a href="{% url 'friends' user.username %}">Друзья:
            {{ user.ownerfriends.member.all.count|default:"0" }}
        </a>
    <p>
        {% for friend in user.ownerfriends.member.all|slice:":4" %}
            <a href="{% url 'person' friend.username %}"> {{ friend.first_name.capitalize }}
                ({{ friend.username.capitalize }}) {{ friend.last_name.capitalize }}</a><Br>
        {% endfor %}
        {% if user.ownerfriends.member.all.count > 4 %}
            ...
        {% endif %}
    </p>
    {% if user.ownerfriends.member.all %}
        <a href="{% url 'friends' user.username %}">Все друзья {{ user.username.capitalize }}</a>
    {% endif %}
    </p>
{% endblock %}