<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Title
    {% endblock %}</title>
</head>
<body>
{% block head %}
    <div>
        <a href="{% url 'logout' %}">Выйти ({{ user }})</a>
        <a href="{% url 'people' %}">Люди</a>
        <a href="{% url 'person' user %}">Профиль</a>
        <a href="{% url 'friends' user %}">Друзья</a>
        <a href="{% url 'chat' %}">Чат</a>
        <Br>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>